body {
    background: #edeef0;
}

footer {
    padding: 30px;
    background: #333a41;
    color: #f1efef;
    float: left;
    width: 100%;
    margin-top: 50px;
}

.pop:hover{
    cursor: pointer;
}

footer a {
    color: #788c9e;
}

footer a:hover{
    color: #79b0e2;
}

.alert-light {
    border-color: #bfbfbf;
}

.user_image {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}

.form-section {
    background: #fff;
    padding: 20px;
    border: 1px solid silver;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(74, 74, 74, .21);
    -moz-box-shadow:0 2px 3px 0 rgba(74, 74, 74, .21);
    box-shadow: 0 2px 3px 0 rgba(74, 74, 74, .21);
}

.form-section > h2 {
    color: #b38a22;
    margin-bottom: 10px;
}

.under-nav {
    background-image: url(../../../pictures/user_images/15783545693760.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
}

.under-nav > h2 {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 100px;
    font-style: italic;
    color: black;
    padding-top: 50px;
}

dt > a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

dt > a:hover {
    text-decoration: none;
}

@media (max-width: 1040px) {
    .under-nav > h2{
        font-size: 45px;
    }
}

.pop {
    padding: 4px;
}

.wrapper {
    height: 450px;
}