{% extends 'blog/main.html' %}
{% block main_section %}

    <div class="alert alert-light">

        <h1>{{ evolution.title }}</h1>
        <p>{{ evolution.text|safe }}</p>
        <div class="row">
            <div>
                <img src="{{ evolution.img.url }}" alt="" class="card-img-top">
                <div class="card-author__avatar">
                    {% if evolution.author.profile.img %}

                        <img src="{{ evolution.author.profile.img.url }}" alt="{{ evolution.author }}" class="user_image">
                    {% else %}
                        <img src="/pictures/default.jpg" alt="{{ evolution.author }}" class="user_image">
                    {% endif %}
                </div>
            </div>
            <div class="mt-2">

                <span class="text-muted">Date: {{ evolution.date|date:'j F Y, g.i a' }}</span>
                <p><b>Author:</b>
                    <a href="{% url 'user-news' evolution.author %}">{{ evolution.author }}</a>
                </p>
            </div>
        </div>

        {% if object.author == user %}
            <hr>
            <a href="{% url 'news-update' object.id %}" class="btn btn-info">Update article</a>
            <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Delete article</a>
        {% endif %}
    </div>

{% endblock main_section %}

