{% extends 'blog/main.html' %}
{% block main_section %}
    <title>{{ title }}</title>
    {% for post in news %}
        <div class="alert alert-light pop" id="{{ post.id }}">

            <h1>{{ post.title }}</h1>
            <p>{{ post.text|striptags|truncatechars:200 }}</p>
            <div class="row">
                <div>
                    {% if post.author.profile.img %}

                        <img src="{{ post.author.profile.img.url }}" alt="{{ post.author }}" class="user_image">
                    {% else %}
                        <img src="/pictures/default.jpg" alt="{{ post.author }}" class="user_image">
                    {% endif %}
                </div>
                <div class="mt-2">

                    <span class="text-muted">Date: {{ post.date| date:'j F Y, g.i a' }}</span>
                    <p><b>Author:</b>
                        <a href="{% url 'user-news' post.author %}">{{ post.author }}</a>
                    </p>
                </div>
            </div>
            <a href="{% url 'news-detail' post.id %}" class="btn btn-warning">Подробнее</a>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-warning">To page first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-warning">To page first</a>

        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
                <button class="btn btn-warning">{{ num }}</button>
            {% elif num > page_obj.number|add:'-3' and  num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}" class="btn btn-outline-warning">{{ num }}</a>
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-warning">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-warning">Last</a>

        {% endif %}
    {% endif %}

{% endblock main_section %}

{% block aside_new_section %}

    <h3><b>Articles</b></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatigon ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
        culpa qui officia deserunt mollit anim id est laborum.</p>

{% endblock aside_new_section %}