{% extends 'blog/main.html' %}
{% block main_section %}

    <div class="alert alert-light">

        <h1>{{ object.title }}</h1>
        <p>{{ object.text|safe }}</p>
        <div class="row">
            <div>
                {% if post.author.profile.img %}
                <!-- {% if post %} -->
                    Show me your boobs
                    <img src="{{ object.author.profile.img.url }}" alt="{{ object.author }}" class="user_image">
                {% else %}
                    <img src="/pictures/default.jpg" alt="{{ object.author }}" class="user_image">
                {% endif %}
            </div>
            <div class="mt-2">

                <span class="text-muted">Date: {{ object.date|date:'j F Y, g.i a' }}</span>
                <p><b>Author:</b>
                    <a href="{% url 'user-news' object.author %}">{{ object.author }}</a>
                </p>
            </div>
        </div>

        {% if object.author == user %}
            <hr>
            <a href="{% url 'news-update' object.id %}" class="btn btn-info">Update article</a>
            <a href="{% url 'news-delete' object.id %}" class="btn btn-danger">Delete article</a>
        {% endif %}
    </div>

{% endblock main_section %}

